.link {
    width: fit-content;
    font-weight: bold;
    font-size: 160%;
}

.link:hover {
    cursor: pointer;
}

.link:active {
    color: purple !important;
    text-decoration: none;
    transform: scale(1.1);
    transition-duration: 100ms;
}

.link:visited {
    color: inherit;
}
