.header {
    color: black;
}

.title {
    width: fit-content;
    animation-name: rotating;
    animation-duration: 1400ms;
}

.main {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(#ff0000, #ffb000, #fcff00, #6aff00, #00afff, #ff00e4);
    padding: 1%;
    color: blue;
}

.main h1 {
    font-size: 300%;
    text-decoration: underline;
}

.main p {
    white-space: pre-wrap;
}

.main img {
    margin: auto;
}

@keyframes rotating {
    0% {
        transform: rotate(0) scale(0.3);
    }

    100% {
        transform: rotate(1080deg) scale(1);
    }
}
